@import 'bulma/sass/utilities/initial-variables';

.profile {
  .media-content {
    .content {
      .title:not(.is-spaced) + .subtitle {
        margin-bottom: 0;
        color: $grey;
      }

      p:not(:last-child) {
        margin-bottom: 0;
      }
    }

    .content:not(:last-child) {
      margin-bottom: 0;
    }

    .social-link .icon {
      color: $grey;

      &:hover {
        color: $blue;
      }
    }
  }
  padding: 1rem 1.5rem;
}
