.tile {
  .title,
  .title:not(:last-child) {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 5px solid #47506f;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  p.subtitle {
    font-weight: 500;
    margin-bottom: 10px;
  }
}
