@media print {
  div.tile,
  ul {
    page-break-inside: avoid;
  }

  .no-print {
    display: none;
  }

  body {
    font-size: 14px;
  }

  .subtitle {
    font-size: 1em;
  }
  .tile .title,
  .tile .title:not(:last-child) {
    font-size: 1rem !important;
  }
}
